

S3method(plot,classCoMiRe)
S3method(print,classCoMiRe)
S3method(summary,classCoMiRe)
export(BMD)
export(add.risk)
export(as.classCoMiRe)
export(betaplot)
export(bmd.plot)
export(comire.gibbs)
export(fit.pdf.mcmc)
export(post.pred.check)
export(predict_new_z)
export(riskplot)

useDynLib(CoMiRe)
import(stats)
import(utils)
importFrom(Rcpp, sourceCpp)
importFrom(methods, new)
import(truncnorm)
import(gtools)
import(ggplot2)
import(splines2)
import(KernSmooth)
import(mnormt)
import(NonpModelCheck)
import(mvtnorm)
import(pdp)
import(MASS)
importFrom("grDevices", "dev.off", "pdf")
importFrom("graphics", "par", "plot", "points")